<h1>Create a new Best Friend!</h1>
<form action='/result' method="post">
  <div class="form-group">
    <label for="name">Name your Tamagotchi!</label>
    <input id="name" name="name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-info">Submit</button>
</form>
